In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('book_data.csv')

In [3]:
print(df.shape)
df.tail()

(54301, 12)

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
54296,Howard Megdal,"In this fearless and half-crazy story, Howard ...",NaN,Hardcover,9.78161E+12,256 pages,3.37,27,9,Taking the Field: A Fan's Quest to Run the Tea...,Sports|Baseball|Sports and Games|Sports|Nonfic...,https://images.gr-assets.com/books/1312074392l...
54297,Howard Megdal,From the icons of the game to the players who ...,NaN,Hardcover,9.78006E+12,256 pages,3.97,34,5,"The Baseball Talmud: Koufax, Greenberg, and th...",Nonfiction|Sports and Games|Sports,https://images.gr-assets.com/books/1348841629l...
54298,Howard Megdal,NaN,NaN,Kindle Edition,NaN,NaN,3.66,32,3,"Wilpon's Folly - The Story of a Man, His Fortu...",Sports|Baseball|Abandoned,https://images.gr-assets.com/books/1394277097l...
54299,Mimi Baird|Eve Claxton,"Soon to be a major motion picture, from Brad P...",NaN,Hardcover,9.7808E+12,272 pages,3.82,867,187,He Wanted the Moon: The Madness and Medical Ge...,Nonfiction|Autobiography|Memoir|Biography|Psyc...,https://images.gr-assets.com/books/1403192135l...
54300,Leah Price,The Anthology and the Rise of the Novel brings...,NaN,Paperback,9.78052E+12,236 pages,3.58,12,3,The Anthology and the Rise of the Novel: From ...,Criticism|Literary Criticism|Philosophy|Theory...,https://images.gr-assets.com/books/1349014225l...

In [4]:
df.describe()

        book_rating  book_rating_count  book_review_count
count  54301.000000       5.430100e+04        54301.00000
mean       4.020027       4.350449e+04         2011.60218
std        0.362100       2.126572e+05         7627.07287
min        0.000000       0.000000e+00            0.00000
25%        3.830000       4.070000e+02           35.00000
50%        4.030000       2.811000e+03          188.00000
75%        4.220000       1.274500e+04          822.00000
max        5.000000       5.588580e+06       160776.00000

## Eliminating duplicates and rows with no book ratings

In [5]:
df = df[df['book_rating_count'] != 0]

In [6]:
df.isnull().sum()

book_authors             0
book_desc             1317
book_edition         48779
book_format           1649
book_isbn            12829
book_pages            2495
book_rating              0
book_rating_count        0
book_review_count        0
book_title               0
genres                3170
image_url              663
dtype: int64

In [7]:
df.shape

(54226, 12)

In [8]:
df = df.drop_duplicates(subset ="book_title")
print(df.shape)

(48412, 12)

In [9]:
df = df.drop_duplicates(subset ="book_desc")
print(df.shape)

(46712, 12)

In [10]:
df.isnull().sum()

book_authors             0
book_desc                1
book_edition         42204
book_format           1222
book_isbn            10339
book_pages            1891
book_rating              0
book_rating_count        0
book_review_count        0
book_title               0
genres                2625
image_url              377
dtype: int64

## Use book description as sole feature

In [11]:
df = df[['book_authors','book_desc','book_title']]
df.shape

(46712, 3)

In [12]:
df = df.dropna()
df.shape

(46711, 3)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import nltk
from nltk.stem.porter import *
from nltk.corpus import wordnet
import string
import re

## Eliminate observations with non-English words

In [14]:
def make_english(text):
    english = ' '.join([w for w in text.split() if wordnet.synsets(w)])
    return english

In [15]:
df['book_desc'] = df['book_desc'].apply(lambda x: make_english(x))

In [16]:
df['num_words'] = df['book_desc'].apply(lambda x: len(x.split()))

In [17]:
df = df[df['num_words'] > 5]

In [18]:
df.isnull().sum()

book_authors    0
book_desc       0
book_title      0
num_words       0
dtype: int64

In [19]:
df = df[['book_authors','book_desc','book_title']]
df.shape

(44548, 3)

## Eliminate punctuation, numbers and capital letters

In [20]:
def preprocess(text):
    new_text = re.sub('<.*?>', '', text)   # remove HTML tags
    new_text = re.sub("[!@#$+%*:()'-]",'',new_text) # remove punc.
    new_text = re.sub(r'\d+','',new_text)# remove numbers
    new_text = new_text.lower() # lower case, .upper() for upper
    return new_text

In [21]:
df['book_desc'] = df['book_desc'].apply(lambda x: preprocess(x))

## Tokenize and remove stopwords

In [22]:
tokenizer = RegexpTokenizer(r'\w+')

In [23]:
df['book_desc'] = df['book_desc'].apply(lambda x: tokenizer.tokenize(x))

In [24]:
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words

In [25]:
df['book_desc'] = df['book_desc'].apply(lambda x: remove_stopwords(x))

## Use lemmatizer and join result

In [26]:
lemmatizer = WordNetLemmatizer()
def word_lemmatizer(text):
    lem_text = [lemmatizer.lemmatize(i) for i in text]
    return lem_text

In [27]:
df['book_desc'] = df['book_desc'].apply(lambda x: word_lemmatizer(x))

In [28]:
stemmer = PorterStemmer()

In [29]:
def word_stemmer(text):
    stem_text = " ".join([stemmer.stem(i) for i in text])
    return stem_text

In [30]:
df['book_desc'] = df['book_desc'].apply(lambda x: word_stemmer(x))

In [116]:
df.isnull().sum()

book_authors    0
book_desc       0
book_title      0
dtype: int64

## Vectorize and use cosine similarity to get top 5 results

In [145]:
df.shape

(44530, 3)

In [146]:
df = df.drop(df.index[[18536,18538,22495,22865,26160,26219,28878,37109,37573]])

In [147]:
df.shape

(44521, 3)

In [148]:
df.to_csv('preprocessed_df.csv', index=False, encoding="utf-8")

In [203]:
df_unprocessed = pd.read_csv('book_data.csv')

In [204]:
df_unprocessed = df_unprocessed[df_unprocessed['book_rating_count'] != 0]

In [205]:
df_unprocessed = df_unprocessed.drop_duplicates(subset ="book_title")
df_unprocessed = df_unprocessed.drop_duplicates(subset ="book_desc")
df_unprocessed = df_unprocessed[['book_authors','book_desc','book_title']]
df_unprocessed = df_unprocessed.dropna()

In [206]:
df_unprocessed['book_desc_eng'] = df_unprocessed['book_desc'].apply(lambda x: make_english(x))
df_unprocessed['num_words'] = df_unprocessed['book_desc_eng'].apply(lambda x: len(x.split()))
df_unprocessed = df_unprocessed[df_unprocessed['num_words'] > 5]

In [207]:
df_unprocessed = df_unprocessed[['book_authors','book_desc','book_title']]

In [210]:
df_unprocessed.shape

(44548, 3)

In [31]:
documents = np.array(df['book_desc'])

In [32]:
tfidf_vectorizer = TfidfVectorizer()

In [33]:
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)

## Create preprocessor function

In [55]:
def preprocessor(text):
    tokenizer = RegexpTokenizer(r'\w+')
    lemmatizer = WordNetLemmatizer()
    stemmer = PorterStemmer()
    new_text = re.sub('<.*?>', '', text)   # remove HTML tags
    new_text = re.sub("[!@#$+%*:()'-]",'',new_text) # remove punc.
    new_text = re.sub(r'\d+','',new_text)# remove numbers
    new_text = new_text.lower() # lower case, .upper() for upper
    tokenized_text = tokenizer.tokenize(new_text)
    words = [w for w in tokenized_text if w not in stopwords.words('english')]
    lem_text = [lemmatizer.lemmatize(i) for i in words]
    stem_text = " ".join([stemmer.stem(i) for i in lem_text])
    return stem_text

In [56]:
preprocessor('Could you survive on your own, in the wild, with everyone out to make sure you dont live to see the morning? In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV. Sixteen-year-old Katniss Everdeen, who lives alone with her mother and younger sister, regards it as a death sentence when she is forced to represent her district in the Games. But Katniss has been close to dead before - and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weigh survival against humanity and life against love. New York Times bestselling author Suzanne Collins delivers equal parts suspense and philosophy, adventure and romance, in this searing novel set in a future with unsettling parallels to our present.')

'could surviv wild everyon make sure dont live see morn ruin place known north america lie nation panem shine capitol surround twelv outli district capitol harsh cruel keep district line forc send one boy one girl age twelv eighteen particip annual hunger game fight death live tv sixteenyearold katniss everdeen life alon mother younger sister regard death sentenc forc repres district game katniss close dead surviv second natur without realli mean becom contend win start make choic weigh surviv human life love new york time bestsel author suzann collin deliv equal part suspens philosophi adventur romanc sear novel set futur unsettl parallel present'

## Create predictions function

In [52]:
def predictions(text):
    documents = [preprocessor(text)]
    tfidf_matrix_new = tfidf_vectorizer.transform(documents)
    array = cosine_similarity(tfidf_matrix_new, tfidf_matrix)[0]
    recommender = df.copy()
    recommender['cs'] = array
    recommender.sort_values(by=['cs'], ascending=False)
    return recommender.nlargest(5, 'cs')

In [53]:
preds = predictions('I want to read a book about scientific discoveries and space exploration')

In [54]:
preds.to_json(orient='index')

'{"21738":{"book_authors":"Mary Roach","book_desc":"bestsel author stiff bonk explor irresist strang univers space travel life space world devoid thing need live hot fresh space explor way explor mean much person give much weird happen walk smell happen vomit helmet space possibl human bodi surviv mile answer space agenc set manner quizzic startlingli bizarr space mari roach possibl preview space ever leav space shuttl train toilet crash test new space capsul fill roach take u entertain trip scienc life space space","book_title":"Packing for Mars: The Curious Science of Life in the Void","cs":0.41357821},"2028":{"book_authors":"Carl Sagan|Ann Druyan","book_desc":"pulitz author trace explor space suggest surviv may depend wise use stir book reveal scientif discoveri alter percept challeng u weigh mani","book_title":"Pale Blue Dot: A Vision of the Human Future in Space","cs":0.4100823107},"38964":{"book_authors":"Piers Bizony","book_desc":"boldli go book gone explor come realiti person space travel want astronaut grew","book_title":"How To Build Your Own Spaceship: The Science Of Mass Space Travel","cs":0.313127331},"53172":{"book_authors":"David Hitt|Owen  Garriott|Joe Kerwin","book_desc":"unit state soviet union went explor space live space station conceiv logic successor apollo moon concept execut vast space say noth monument technolog homestead two astronaut nasa tell dramat stori first space station begin fieri homestead space much stori technolog scientif also sometim often inspir account hardwork individu shepherd program heroic exhaust studi comet well ultim descent indian featur unpublish diari astronaut book replet person recollect experi skylab crew work bring safe","book_title":"Homesteading Space: The Skylab Story","cs":0.2940924208},"34648":{"book_authors":"Jon Butterworth","book_desc":"discoveri boson made headlin around two peter theori predict share nobel discoveri culmin largest experi ever atla cm experi larg hadron realli boson discoveri chang understand fundament law feel like part one lead physicist book first popular insid account hunt stori incred scientif inspir technolog innov also stori happen expens experi blow neutrino may may travel faster realiti life underground bunker book also leav work knowledg new physic discoveri particl mean defin law take cut edg modern scientif","book_title":"Smashing Physics","cs":0.2832986021}}'

In [310]:
url = "https://bettereads.herokuapp.com/api"

In [315]:
import json
import requests
data = json.dumps({'book_desc': 'I want to read a book about startups and entrepreneurs who started small but achieved great success'})

In [316]:
print(data)

{"book_desc": "I want to read a book about startups and entrepreneurs who started small but achieved great success"}

In [317]:
send = requests.post(url, data)

In [318]:
print(send.json())

{'4644': {'book_authors': 'Alejandro Cremades', 'book_desc': 'art startup fundrais take fresh look rais money focu chang face startup new regul make old advic le startup money increasingli move new water founder need access book help navig onlin world startup fundrais explan expert perspect new digit world find tip trick rais money invest startup earli stage growth develop clear strategi base new realiti surround startup financ world massiv state chang occur increas pace intens startup paradigm process must chang book show startup fund expert coach new rule job act impact fundrais insight startup earli stage growth money need get ventur pitch optim right common reli tale superstar stori uniqu appli except game play old rule get left found startup look art startup fundrais provid uptotheminut guidanc art startup art startup fundrais must read even consid start fundrais book give get speak wisdom draper founder draper draper art startup fundrais mandatori read entrepreneur look rais book enabl help mani earli stage compani answer tough question former chief oper offic appl chairman atlanti capit often daunt least understood aspect start new busi peopl experienc act art startup fundrais unlock key secret fundrais newli mint chairman vice chairman dun new york time author wire book provid concis tour fundrais entrepreneuri expertis full terrif job make complic process simpl gener partner flybridg capit partner senior lectur harvard busi need amaz sell art startup fundrais provid essenti master core skill serial entrepreneur prolif angel mani entrepreneur find right investor ventur daunt experi equiti give uniqu perspect fundrais art startup fundrais insight entrepreneur look close round financ chang professor stern school perfect approach rais invest certain tribal knowledg u learn sever fail art startup fundrais captur everi bit advic give entrepreneur look paul partner cofound art startup fundrais must read clear outlin startup commun step success golden era good idea proof concept get access know founder ceo famili offic matter great busi rais master contributor cofound pluto tv cofound art startup fundrais translat art share proven case studi provid need servic futur josh manag partner citi light read requir entrepreneur build busi rais well written inform written man testament dedic creativ confront challeng entrepreneur rais carter serial entrepreneur princip cross atlant capit bleed edg equiti talk startup andrew manag director capit provid stepbystep guidebook entrepreneur rather spend time think chang world instead think rais manag partner join capit superb book guidanc arm entrepreneur necessari tool close success meaning round execut director robin hood art startup fundrais practic comprehens resourc entrepreneur use captur startup need success rapidli evolv financ also provid tip fundament build busi chang execut director angel capit money founder world make exponenti easier educ process rais equiti capit dive handson advic book provid solid foundat selfeduc deliv approach format key lesson takeaway everi art startup essenti read entrepreneur allen manag director endeavor', 'book_title': 'The Art of Startup Fundraising', 'cs': 0.3785328327}, '18858': {'book_authors': 'Brad Feld|Amy Batchelor', 'book_desc': 'real life insight take make entrepreneur entrepreneur alway look lead intens time alway short relationship stress extend period critic partner intend stay startup brad entrepreneur person experi wife offer rich insight success lead balanc life want play hard work want fulfil life twenti year experi field address startup peopl put asid workahol way reward life exampl entrepreneuri coupl success relationship work practic advic adapt chang inevit up down associ brad field investor success entrepreneur twenti relationship success way make navig territori startup life wellround insight advic need succeed busi', 'book_title': 'Startup Life: Surviving and Thriving in a Relationship with an Entrepreneur', 'cs': 0.3483933378}, '12639': {'book_authors': 'Eric Ries', 'book_desc': 'startup mani failur lean startup new approach adopt across chang way compani built new product defin startup organ dedic creat new condit extrem true one person garag group season profession fortun common mission penetr fog uncertainti discov success path sustain lean startup approach foster compani capit effici leverag human creativ inspir lesson lean reli rapid scientif well number practic shorten product develop measur actual progress resort vaniti learn custom realli enabl compani shift direct alter plan inch minut wast time creat elabor busi lean startup offer entrepreneur compani size way test vision adapt adjust provid scientif approach creat manag success startup age compani need innov', 'book_title': "The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses", 'cs': 0.293221945}, '20656': {'book_authors': 'Brad Feld', 'book_desc': 'essenti guid build support entrepreneuri pop citi like boulder boston even countri type entrepreneuri ecosystem drive innov small busi document longterm dynam build commun entrepreneur feed twenti year entrepreneur capitalist brad experi well contribut innov startup reliabl resourc skill explor take creat entrepreneuri commun along offer valuabl insight increas breadth depth entrepreneuri ecosystem multipli connect entrepreneur improv access entrepreneuri much four critic principl need form sustain startup entrepreneur ventur capitalist seek fresh idea new brad field investor success entrepreneur twenti practic guid show startup commun also show make work anywher', 'book_title': 'Startup Communities: Building an Entrepreneurial Ecosystem in Your City', 'cs': 0.282561183}, '148': {'book_authors': 'Dr. Seuss', 'book_desc': 'hate whole christma pleas ask one quit know rank right scroog come scowl holiday grump live cave side loom who noisi holiday prepar infern sing happi littl citizen annoy decid frivol merriment must idea santa strap heavi antler quiver dog construct makeshift head strip cheer who yuletid glee quit place disturb makeshift santa slither chimney empti bag steal even log humbl take ramshackl sleigh dump wait hear sob who wake discov trap christma imagin dismay discov child simultan ador fear twist testimoni undaunt cheer transcend natur growth potenti heart two size holiday classic perfect read aloud favorit littl', 'book_title': 'How the Grinch Stole Christmas!', 'cs': 0.1846673742}}

In [231]:
stopwords = '\nltk_data\corpora\stopwords\english'

In [233]:
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords]
    return words

In [234]:
df_unprocessed['book_desc'] = df_unprocessed['book_desc'].apply(lambda x: remove_stopwords(x))

In [235]:
df_unprocessed.shape

(44548, 3)

In [241]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nchib\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True